.icn_WeatherContainer {
  width: 40px !important;
  height: 40px !important;
  display: inline-flex !important;
}

.icn_Weather_0001 {
  background: url(/images/Weather/Weather_0001.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0002 {
  background: url(/images/Weather/Weather_0002.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0003 {
  background: url(/images/Weather/Weather_0003.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0004 {
  background: url(/images/Weather/Weather_0004.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0005 {
  background: url(/images/Weather/Weather_0005.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0006 {
  background: url(/images/Weather/Weather_0006.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0007 {
  background: url(/images/Weather/Weather_0007.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0008 {
  background: url(/images/Weather/Weather_0008.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0009 {
  background: url(/images/Weather/Weather_0009.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0010 {
  background: url(/images/Weather/Weather_0010.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0011 {
  background: url(/images/Weather/Weather_0011.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0012 {
  background: url(/images/Weather/Weather_0012.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0013 {
  background: url(/images/Weather/Weather_0013.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0014 {
  background: url(/images/Weather/Weather_0014.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0015 {
  background: url(/images/Weather/Weather_0015.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0016 {
  background: url(/images/Weather/Weather_0016.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0101 {
  background: url(/images/Weather/Weather_0101.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0102 {
  background: url(/images/Weather/Weather_0102.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0103 {
  background: url(/images/Weather/Weather_0103.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0104 {
  background: url(/images/Weather/Weather_0104.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0105 {
  background: url(/images/Weather/Weather_0105.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0106 {
  background: url(/images/Weather/Weather_0106.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0107 {
  background: url(/images/Weather/Weather_0107.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0108 {
  background: url(/images/Weather/Weather_0108.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0109 {
  background: url(/images/Weather/Weather_0109.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0110 {
  background: url(/images/Weather/Weather_0110.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0111 {
  background: url(/images/Weather/Weather_0111.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0112 {
  background: url(/images/Weather/Weather_0112.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0113 {
  background: url(/images/Weather/Weather_0113.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0114 {
  background: url(/images/Weather/Weather_0114.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0115 {
  background: url(/images/Weather/Weather_0115.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0116 {
  background: url(/images/Weather/Weather_0116.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}

.icn_Weather_0999 {
  background: url(/images/Weather/Weather_0999.png);
  background-size: cover !important;
  width: 100%;
  height: 100%;
  display: inline-flex;
}
