@page "/appLog"
@inherits ThreeSComponentBase

@using ThreeSC.Net6Lib.BlazorTools.Components.ApplicationLogs

<h3>ApplicationLogView</h3>

<ThreeSCApplicationLogViewer AllowClearingOfLogs="true" GridViewHeight="70vh" GridViewWidth="100%" />