@page "/Dashboard"
@using Telerik.FontIcons
@using ThreeSC.Net6Lib.BlazorTools.Components.UserManagement
@using UniANPR.Models.ThreeSCBaseImplementations

@inherits ThreeSComponentBase

<h3>Dashboard</h3>

@if (IsInRole(ThreeSC.Net6Lib.BlazorTools.Authorization.ThreeSCRole.UserAdmin))
{
    <UniANPR.Components.DashboardContainer/>

}
else 
{
    <UniANPR.Components.ParticipantDashboardContainer />
}





