@page "/resetpassword"
@using ThreeSC.Net6Lib.BlazorTools.Components.UserManagement
@using UniANPR.Models.ThreeSCBaseImplementations

@attribute [Authorize]

<h3>Reset Password Page</h3>


<ThreeSCUserResetPassword TUserPofileDataModel="TestAppUser" />

@*<TelerikGridLayout RowSpacing="6px" ColumnSpacing="10px" Class="grid-layout">
    <GridLayoutRows>
        <GridLayoutRow Height="100%"></GridLayoutRow>
    </GridLayoutRows>
    <GridLayoutColumns>
        <GridLayoutColumn Width="30%"></GridLayoutColumn>
        <GridLayoutColumn Width="30%"></GridLayoutColumn>
        <GridLayoutColumn Width="30%"></GridLayoutColumn>
    </GridLayoutColumns>
    <GridLayoutItems>
        <GridLayoutItem Row="1" Column="2" ColumnSpan="1">
            <div class="loginContainer">
                <ThreeSCUserResetPassword TUserPofileDataModel="TestAppUser" />
            </div>
        </GridLayoutItem>
    </GridLayoutItems>
</TelerikGridLayout>
*@