@page "/UserManagement"
@using ThreeSC.Net6Lib.BlazorTools.Components.UserManagement
@using UniANPR.Models.ThreeSCBaseImplementations
@inherits ThreeSComponentBase

<h3>User Admin List Page</h3>

<ThreeSCUserManagementList TUserPofileDataModel="TestAppUser" />
