@inherits LayoutComponentBase
@using UniANPR.Models.ThreeSCBaseImplementations

<ThreeSCThemeManager DefaultStyleSheetName="" />

<PageTitle>UniANPR</PageTitle>

<div class="page">
    <Telerik.Blazor.Components.TelerikRootComponent>
        <AuthorizeView>
            <Authorized>
                <div class="sidebar">
                    <NavMenu />
                </div>

                <main>
                    <div class="top-row px-4 auth">
                        <LoginDisplay />
                        <UniANPR.Components.Clock />
                        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                    </div>

                    <article class="content px-4">
                        @Body
                    </article>
                </main>
            </Authorized>
            <NotAuthorized>
                <div class="main">
                    <div class="content px-4">
                        @Body
                    </div>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </Telerik.Blazor.Components.TelerikRootComponent>
</div>